[submodule "depends/EIGEN"]
	path = depends/EIGEN
	url = https://github.com/PX4/eigen
[submodule "depends/easyloggingpp"]
	path = depends/easyloggingpp
	url = https://github.com/muflihun/easyloggingpp
